}

.teal-background {
    background-color: #007d7d;
}

.white {
    color: #bfbfbf;
}

.white-background {
    background-color: #fafafa;
}

.yellow {
    color: #bfbf00;
}

.yellow-background {
    background-color: #fafa00;
}

span.icon > .fa {
    cursor: default;
}

.admonitionblock td.icon [class^="fa icon-"] {
    font-size: 2.5em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: default;
}

.admonitionblock td.icon .icon-note:before {
    content: "\f05a";
    color: #19407c;
}

.admonitionblock td.icon .icon-tip:before {
    content: "\f0eb";
    text-shadow: 1px 1px 2px rgba(155, 155, 0, 0.8);
    color: #111;
}

.admonitionblock td.icon .icon-warning:before {
    content: "\f071";
    color: #bf6900;
}

.admonitionblock td.icon .icon-caution:before {
    content: "\f06d";
    color: #bf3400;
}

.admonitionblock td.icon .icon-important:before {
    content: "\f06a";
    color: #bf0000;
}

.conum[data-value] {
    display: inline-block;
    color: #fff !important;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    font-size: 0.75em;
    width: 1.67em;
    height: 1.67em;
    line-height: 1.67em;
    font-family: "Open Sans", "DejaVu Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
}

.conum[data-value] * {
    color: #fff !important;
}

.conum[data-value] + b {
    display: none;
}

.conum[data-value]:after {
    content: attr(data-value);
}

pre .conum[data-value] {
    position: relative;
    top: -0.125em;
}

b.conum * {
    color: inherit !important;
}

.conum:not([data-value]):empty {
    display: none;
}

h1, h2 {
    letter-spacing: -0.01em;
}

dt, th.tableblock, td.content {
    text-rendering: optimizeLegibility;
}

p, td.content {
    letter-spacing: -0.01em;
}

p strong, td.content strong {
    letter-spacing: -0.005em;
}

p, blockquote, dt, td.content {
    font-size: 1.0625rem;
}

p {
    margin-bottom: 1.25rem;
}

.sidebarblock p, .sidebarblock dt, .sidebarblock td.content, p.tableblock {
    font-size: 1em;
}

.exampleblock > .content {
    background-color: #fffef7;
    border-color: #e0e0dc;
    -webkit-box-shadow: 0 1px 4px #e0e0dc;
    box-shadow: 0 1px 4px #e0e0dc;
}

.print-only {
    display: none !important;
}

@media print {
    @page {
        margin: 1.25cm 0.75cm;
    }

    * {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a {
        color: inherit !important;
        text-decoration: underline !important;
    }

    a.bare, a[href^="#"], a[href^="mailto:"] {
        text-decoration: none !important;
    }

    a[href^="http:"]:not(.bare):after, a[href^="https:"]:not(.bare):after, a[href^="mailto:"]:not(.bare):after {
        content: "(" attr(href) ")";
        display: inline-block;
        font-size: 0.875em;
        padding-left: 0.25em;
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    pre, blockquote, tr, img {
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    img {
        max-width: 100% !important;
    }

    p, blockquote, dt, td.content {
        font-size: 1em;
        orphans: 3;
        widows: 3;
    }

    h2, h3, #toctitle, .sidebarblock > .content > .title, #toctitle, .sidebarblock > .content > .title {
        page-break-after: avoid;
    }

    #toc, .sidebarblock, .exampleblock > .content {
        background: none !important;
    }

    #toc {
        border-bottom: 1px solid #ddddd8 !important;
        padding-bottom: 0 !important;
    }

    .sect1 {
        padding-bottom: 0 !important;
    }

    .sect1 + .sect1 {
        border: 0 !important;
    }

    #header > h1:first-child {
        margin-top: 1.25rem;
    }

    body.book #header {
        text-align: center;
    }

    body.book #header > h1:first-child {
        border: 0 !important;
        margin: 2.5em 0 1em 0;
    }

    body.book #header .details {
        border: 0 !important;
        display: block;
        padding: 0 !important;
    }

    body.book #header .details span:first-child {
        margin-left: 0 !important;
    }

    body.book #header .details br {
        display: block;
    }

    body.book #header .details br + span:before {
        content: none !important;
    }

    body.book #toc {
        border: 0 !important;
        text-align: left !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    body.book #toc, body.book #preamble, body.book h1.sect0, body.book .sect1 > h2 {
        page-break-before: always;
    }

    .listingblock code[data-lang]:before {
        display: block;
    }

    #footer {
        background: none !important;
        padding: 0 0.9375em;
    }

    #footer-text {
        color: rgba(0, 0, 0, 0.6) !important;
        font-size: 0.9em;
    }

    .hide-on-print {
        display: none !important;
    }

    .print-only {
        display: block !important;
    }

    .hide-for-print {
        display: none !important;
    }

    .show-for-print {
        display: inherit !important;
    }
}
